# editorconfig.org

root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = tab
max_line_length = 120
insert_final_newline = true
trim_trailing_whitespace = true

[*.{xml,twig,html,yaml,json,md,env}]
max_line_length = off
indent_style = space

[*.yaml]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
